@charset "utf-8";
/* CSS Document */
body {
    background-color: wheat;
    alignment-adjust: central;
}
#card-image {
    border: medium solid greenyellow;
    border-top-left-radius: 60px 60px;
    border-top-right-radius: 60px 60px;
    background-color: greenyellow;
}
#banner {
    font-size: 34px;
    font-style: bold;
    color: black;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: 'Old Standard TT', serif;
}
/* the nav bar */
#navigation{
    margin-top: 10px;
    margin-bottom: 10px;
}
ul, ol, dl {
    padding: 0;
    margin: 0;
}

a:link {
    color: #03C;
    text-decoration: underline;
    font-size:18px;
}
a:visited {
    color: #6E6C64;
    text-decoration: underline;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
ul.nav {
    list-style: none;
    border-top: 1px solid #666;
    margin-bottom: 15px;
}
ul.nav li {
    border-bottom: 1px solid #666;
    float:right;
}
ul.nav a, ul.nav a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    width: 160px;
    text-decoration: none;
    background-color: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
    background-color: #ADB96E;
    color: #FFF;
}
/* end of nav bar */

/* data table  */
#details-holder {
    display:block;
    margin-bottom:15px;
    margin-top:18px;
    border-radius: 25px;
    background: url(../images/bg4.jpg);
    background-repeat: repeat;
}

#card{
    margin-top:10px;
}

hr {
    border-color:#000;
    height: 5px;
}

#pd {
    font-size: 18px;
}
tr > th {
    text-align: center;
    background: grey;
    color: white;
}
tr > th:only-of-type {
    text-align: right;
    background: lightgrey;
    color: lime;
}
td {
    text-align: center;
    color: black;
}
#balance {
    text-align: center;
    color: green;
}
table {
    table-layout:auto;
    width: 100%;
}
#bal {
    text-align: right;
    font-size: 22px;
    font-weight: bold
}

/* end of data table  */

#info-box-transactions{
    height:355px;
    overflow-y:scroll;
    width:100%;
}

#comercials {
    float: right;
    width: 180px;
    padding-bottom: 10px;
    margin-top: 35px;
    margin-bottom:15px;
    border-radius: 25px;
    background: url(../images/bg2.jpg);
    background-repeat: repeat;
}
#footer {
    color:#933;
    background-color:#CF6;
}

.foot-p {
    margin-top:15px;
}

p {
    text-align: center;
}

@media only screen and (max-width: 769px) {
    #banner {
        font-size: 24px;
        font-style: bold;
        color:#006;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'Old Standard TT', serif;
    }
    ul.nav {
        list-style: none;
        border-top: 1px solid #666;
        margin-bottom: 15px;
        float:none;
    }
    ul.nav li {
        border-bottom: 1px solid #666;
        float:none;
    }
    ul.nav a, ul.nav a:visited {
        padding: 5px 5px 5px 15px;
        display: block;
        width: auto;
        text-decoration: none;
        background-color: #C6D580;
    }
    #card{
        margin-left:10px;
    }
    span{
        display:none;
    }
    #pd {
        font-size: 14px;
    }
    #type{
        display:none;
    }
    #notbal{
        display:none;
    }
    #not{
        display:none;
    }
    #not1{
        display:none;
    }
}
@media only screen and (max-width: 481px) {
    #banner {
        font-size: 18px;
        font-style: bold;
        color:#FFF;
        text-align:center;
        font-family: 'Old Standard TT', serif;
    }
}