/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Oct-2015, 22:56:12
    Author     : Joe-Joe
*/

#success {
    margin-top: 150px;
    font-size: 35px;
    text-align: center;
    color: #4cae4c;
}

#fail {
    margin-top: 150px;
    font-size: 35px;
    text-align: center;
    color: #cd0a0a;
}

p {
    text-align: center;
}